Linkedin Automation.json
{
  "name": "Linkedin Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -64
      ],
      "id": "a74aae4b-75b3-49e1-afa7-315020dbf560",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dev.to/api/articles?top=2",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -64
      ],
      "id": "1ca41003-fc2c-4bb3-920a-f67c111d09c4",
      "name": "DevTo - Get Top Articles"
    },
    {
      "parameters": {
        "jsCode": "// items[0].json contains the articles array from previous node\nconst articles = items[0].json; // assuming previous output was array\nconst top = Array.isArray(articles) ? articles[0] : articles;\nreturn [{ json: {\n  dev_title: top.title || top.name,\n  dev_description: top.description || top.excerpt || \"\",\n  dev_url: top.url || top.canonical_url || top.path,\n  dev_tags: top.tag_list || top.tags || [],\n  dev_body_markdown: top.body_markdown || \"\"\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -64
      ],
      "id": "ecf5b489-ec23-4001-9361-ea42797b4162",
      "name": "PickTopArticle"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EshjLXSAl716JiTDjJIoh5QB9ww2PDup"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"codestral-2508\",\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"You are an assistant that converts a technical article into a short LinkedIn post. Provide a single catchy headline (<= 80 chars), a short story/body (max 250 words), 5 concise hashtags, and 2–3 image search keywords (comma separated). Output must be strict JSON with keys: headline, body, hashtags, image_keywords.\"},\n    {\"role\":\"user\",\"content\":\"Article title: {{$json.dev_title}}\\nDescription: {{$json.dev_description}}\\nTags: {{$json.dev_tags.join(', ')}}\\nURL: {{$json.dev_url}}\\n\\nWrite the JSON as requested.\"}\n  ],\n  \"max_tokens\": 400,\n  \"temperature\": 0.6\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        -80
      ],
      "id": "3a11c9b4-4555-4a9f-9718-0e9df4ca0de2",
      "name": "Mistral - Generate Post"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.choices[0].message.content;\n\n// Remove Markdown code fences if present\nconst clean = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Parse JSON safely\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch (e) {\n  throw new Error(\"Failed to parse Mistral JSON: \" + e.message + \"\\nRaw content:\\n\" + clean);\n}\n\n// Return cleaned structure\nreturn [{\n  json: {\n    headline: parsed.headline,\n    body: parsed.body,\n    hashtags: Array.isArray(parsed.hashtags)\n      ? parsed.hashtags.join(' ')\n      : parsed.hashtags,\n    image_keywords: parsed.image_keywords\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -32
      ],
      "id": "0dd6325e-0548-40ba-b746-ce15feafb875",
      "name": "ParseMistralOutput"
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.image_keywords}}"
            },
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "orientation",
              "value": "landscape"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID gMKB9dk0ZCh3CQtFTo9U6C4kkSR-lbX99vvDIW8lYZg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        -368
      ],
      "id": "093074f3-61d3-40ea-a06b-c1d45870d004",
      "name": "Unsplash - Search Photo"
    },
    {
      "parameters": {
        "jsCode": "// Access first result from Unsplash response\nconst result = items[0].json.results[0];\n\nif (!result) {\n  throw new Error(\"No image results found from Unsplash.\");\n}\n\nreturn [{\n  json: {\n    image_url: result.urls.full,         // full-size image (good for LinkedIn)\n    thumb_url: result.urls.small,        // optional: thumbnail\n    alt_description: result.alt_description || \"Image from Unsplash\",\n    photographer_name: result.user.name,\n    photographer_link: result.user.links.html,\n    unsplash_download_link: result.links.download, // optional for attribution\n  },\n  binary: {} // no binary data yet; next step will download it\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -272
      ],
      "id": "071be784-7e5b-4458-a2ae-37c27e90a566",
      "name": "Parse Unsplash Image"
    },
    {
      "parameters": {
        "url": "={{$json[\"image_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        -448
      ],
      "id": "c65468c2-1aca-43c3-945a-e7390340d546",
      "name": "Downloading the Image1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQWUUXkE3HoMga_XLMNqP90Y6D2yCSHTzaAgHDREh9E-JDMNLSKzX0VdvuCULeGfwC5fqZO47d9R1bxRyqVNkQbSR9YdKSKSBc8te0BTui0EKNrw9r9Xerb8RAHwxOaDi3xPvZfzwcaW7EvXCCjVP22yB1a3ZMM5ZqyuPUQFGLpJtGgI0ZJRA-MbsFYnqMWm6zyVwpXJCgJJl7n97WTS8vPtJV8hIorMoo_t0mwpSkgVVPFiGxz2KhbUeRhZTJJyGkadjwgGwOFvDQnAH8FeTgoiVMXXhNTrMq8-z4QbnO5XM1mMksIXKEnbKF5gUt6oJJT6Luyf6Svij5gmXGUhRF4V_ReHzw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"registerUploadRequest\": {\n \"owner\": \"urn:li:person:xoHd3yIDO2\",\n \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n \"serviceRelationships\": [\n {\n \"identifier\": \"urn:li:userGeneratedContent\",\n \"relationshipType\": \"OWNER\"\n }\n ],\n \"supportedUploadMechanism\": [\"SYNCHRONOUS_UPLOAD\"]\n }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        -224
      ],
      "id": "d9535828-0d39-47ee-b0f8-682872c2fa37",
      "name": "LinkedIn - Register Upload1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Content-Type"
            },
            {
              "name": "value",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        -80
      ],
      "id": "a59e0132-6f68-42f7-99e6-b770c38976c1",
      "name": "Upload Image to LinkedIn"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer AQWHNOGJJ1y-X0GLGMaDHH45Y84t4OhtvRkvMZPL3cseAp4Y0Vb-IsSceDNhsrpE7I8MUo893YOVfXvkiH-rCiX03BaXVBVEHxaOwLna7m174XazNWQdAR1OnrgSLiDY-EjZz6QVW5J5H97aKWRyzAg6Uft2_n8E09RPd-CvyF-FvxyEUfvw82a3Hxepyzml86I8MVf7OtfqvlHpF4EGFkP_CdMXPNLBxaj5PIcyQRTwDx3iwrrK3B4b8cK7Y09t79bVkVFnElHDWdt7zyrc7m8NRvyQZMDCHptqreavKT_rBCALy8bxPqBwtZ2YSahSmL0vrpkD0da88VLAQkKkdX3VllOyhA"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:xoHd3yIDO2\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $node['Merge1'].json['body'] }}\\n\\n{{ $node['Merge1'].json['hashtags'] }}\"\n      },\n      \"shareMediaCategory\": \"IMAGE\",\n      \"media\": [\n        {\n          \"status\": \"READY\",\n          \"description\": { \"text\": \"{{ $node['Merge1'].json['image_keywords'] }}\" },\n          \"media\": \"{{ $node['Merge1'].json['asset'].replace(/^=/, \"\") }}\",\n          \"title\": { \"text\": \"{{ $node['Merge1'].json['headline'] }}\" }\n        }\n      ]\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3552,
        -112
      ],
      "id": "4e00ccd9-402c-4ba1-887b-47bfa67c2607",
      "name": "LinkedIn - Create Post1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf85f9c2-3243-440b-9144-8e26f1acb33f",
              "name": "keepOnlySet",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -448
      ],
      "id": "97c85515-80d9-4e01-a410-b6c832ed14c9",
      "name": "Keep Binary Only",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const value = item.json.value || item.json;\n  let uploadUrl = null;\n  try {\n    uploadUrl = value.uploadMechanism &&\n      value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'] &&\n      value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl;\n  } catch (e) {\n    uploadUrl = value.uploadUrl || null;\n  }\n  const asset = value.asset || item.json.asset || null;\n  return {\n    json: {\n      ...item.json,\n      uploadUrl,\n      asset\n    },\n    binary: item.binary || {}\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -224
      ],
      "id": "0d2e2fba-9794-4975-8ea8-245a5487b652",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        -96
      ],
      "id": "8c8b7b00-1557-40fb-8159-6954fbc0aaee",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1076e619-339c-4bfa-8d5a-eaa7fb4b973d",
              "name": "asset",
              "value": "=={{ $json[\"asset\"] || $item(0).$node[\"Code in JavaScript\"].json[\"asset\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        -288
      ],
      "id": "7500c5fe-a0d1-4bb7-9eb9-8b1fa099aee5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3232,
        96
      ],
      "id": "1d889f50-9792-4292-be04-6a005e236a4f",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DevTo - Get Top Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevTo - Get Top Articles": {
      "main": [
        [
          {
            "node": "PickTopArticle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PickTopArticle": {
      "main": [
        [
          {
            "node": "Mistral - Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Generate Post": {
      "main": [
        [
          {
            "node": "ParseMistralOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseMistralOutput": {
      "main": [
        [
          {
            "node": "Unsplash - Search Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unsplash - Search Photo": {
      "main": [
        [
          {
            "node": "Parse Unsplash Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unsplash Image": {
      "main": [
        [
          {
            "node": "Downloading the Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn - Register Upload1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Downloading the Image1": {
      "main": [
        [
          {
            "node": "Keep Binary Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to LinkedIn": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Binary Only": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "LinkedIn - Register Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Image to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "LinkedIn - Create Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8d6d483-c3ad-42be-8de9-4ae6f88ab189",
  "meta": {
    "instanceId": "cae415d95e980912630f9683bcd07b684c883615c07f7f62f4f9847b3858272b"
  },
  "id": "ZmjCaZOnkq1V1BWL",
  "tags": []
}